<form class="form" action="" method="POST">
  <div class="parent-flex">
    <div class="parent-flex">
      <mat-label>Fileupload</mat-label>
      <input
        id="file-upload"
        type="file"
        class="file-upload"
        name="fiel-upload"
        onchange="console.log(event.target.files)" />
    </div>
    <mat-form-field
      hint-label="Max 50 Zeichen"
      class="full-width"
      aria-required="true">
      <mat-label>Filmtitel</mat-label>
      <input
        matInput
        #input
        name="title"
        type="text"
        maxlength="50"
        placeholder="Filmtitel"
        value="" />
      <mat-hint align="end">{{ input.value.length }}/50</mat-hint>
    </mat-form-field>
    <div class="flex-wrapper">
      <mat-form-field class="half-width">
        <mat-label>Tonformat</mat-label>
        <mat-select name="tonformat">
          <mat-option value="mono">Mono</mat-option>
          <mat-option value="stereo">Stereo</mat-option>
          <mat-option value="dolby">Dolby</mat-option>
          <mat-option value="dts">DTS</mat-option>
          <mat-option value="mpeg">MPEG</mat-option>
          <mat-option value="mp3">MP3</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="half-width">
        <mat-label>Bildformat</mat-label>
        <mat-select name="bildformat">
          <mat-option value="4:3">4:3</mat-option>
          <mat-option value="16:9">16:9</mat-option>
          <mat-option value="21:9">21:9</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="flex-wrapper">
      <mat-form-field class="example-full-width" hintLabel="Max 10 Zeichen">
        <mat-label>Bildfrequenz</mat-label>
        <input
          matInput
          #input
          type="text"
          name="bildfrequenz"
          placeholder="Bildfrequenz"
          maxlength="10"
          value="" />
        <mat-hint align="end">{{ input.value.length }}/10</mat-hint>
      </mat-form-field>

      <mat-form-field class="example-full-width" hintLabel="Max 10 Zeichen">
        <mat-label>Farbtiefe</mat-label>
        <input
          matInput
          #input
          type="text"
          name="farbtiefe"
          placeholder="Farbtiefe"
          maxlength="10"
          value="" />
        <mat-hint align="end">{{ input.value.length }}/10</mat-hint>
      </mat-form-field>
    </div>

    <div class="flex-wrapper">
      <mat-form-field>
        <mat-label>Videocontainer</mat-label>
        <mat-select name="videocontainer">
          <mat-option value="mp4">MP4</mat-option>
          <mat-option value="mov">MOV</mat-option>
          <mat-option value="wmv">WMV</mat-option>
          <mat-option value="avi">AVI</mat-option>
          <mat-option value="avchd">AVCHD</mat-option>
          <mat-option value="flv">FLV</mat-option>
          <mat-option value="f4v">F4V</mat-option>
          <mat-option value="swf">SWF</mat-option>
          <mat-option value="mkv">MKV</mat-option>
          <mat-option value="webm">WEBM</mat-option>
          <mat-option value="html5">HTML5</mat-option>
          <mat-option value="quicktime">Quicktime</mat-option>
          <mat-option value="asf">ASF</mat-option>
          <mat-option value="mpeg">MPEG</mat-option>
          <mat-option value="mxf">MXF</mat-option>
          <mat-option value="dv">DV</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Tonspurbelegung</mat-label>
        <input
          matInput
          type="text"
          name="tonspurbelegung"
          placeholder="Tonspurbelegung"
          value="" />
      </mat-form-field>
    </div>
    <div class="flex-wrapper">
      <mat-form-field>
        <mat-label>Dauer</mat-label>
        <input matInput type="time" name="dauer" placeholder="Dauer" value="" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Videocodec</mat-label>
        <mat-select name="videocodec">
          <mat-option value="h.264">H.264</mat-option>
          <mat-option value="h.265">H.265</mat-option>
          <mat-option value="ffmpeg">FFmpeg</mat-option>
          <mat-option value="apple">Apple</mat-option>
          <mat-option value="pro res">Pro Res</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="flex-wrapper">
      <mat-form-field>
        <mat-label>Auflösung</mat-label>
        <mat-select name="aufloesung">
          <mat-option value="hd720">HD720</mat-option>
          <mat-option value="h.265">HD1080</mat-option>
          <mat-option value="ffmpeg">UHD4K</mat-option>
          <mat-option value="apple">UHD8K</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Erscheinungsdatum</mat-label>
        <input
          matInput
          type="date"
          name="erscheinungsdatum"
          placeholder="Erscheinungsdatum"
          value="" />
      </mat-form-field>
    </div>
    <div class="flex-wrapper">
      <mat-form-field>
        <mat-label>Autor</mat-label>
        <input matInput type="text" name="autor" placeholder="Autor" value="" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Programmtyp</mat-label>
        <mat-select name="programmtyp">
          <mat-option value="unterricht">Unterricht</mat-option>
          <mat-option value="wettbewerb">Wettbewerb</mat-option>
          <mat-option value="abschlusssendung">Abschlusssendung</mat-option>
          <mat-option value="projekt vt">Projekt VT</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-form-field>
      <mat-label>Erzählsatz</mat-label>
      <input
        matInput
        type="text"
        name="erzaehlsatz"
        placeholder="Erzählsatz"
        value=""
        rows="5" />
    </mat-form-field>

    <mat-form-field class="example-full-width" hintLabel="Max 10 Zeichen">
      <mat-label>Bemerkungen</mat-label>
      <input
        matInput
        #input
        type="text"
        name="bemerkungen"
        placeholder="Bemerkungen"
        maxlength="100"
        value="" />
      <mat-hint align="end">{{ input.value.length }}/100</mat-hint>
    </mat-form-field>
    <div class="flex-wrapper">
      <mat-form-field>
        <mat-label>Erstellungsdatum</mat-label>
        <input
          matInput
          type="date"
          name="erstellungsdatum"
          placeholder="Erstellungsdatum"
          value="" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Klasse</mat-label>
        <input
          matInput
          type="text"
          name="klasse"
          placeholder="Klasse"
          value="" />
      </mat-form-field>
    </div>

    <mat-form-field>
      <mat-label>Mitwirkende</mat-label>
      <input
        matInput
        type="text"
        name="mitwirkende"
        placeholder="Mitwirkende"
        value="" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Mitwirkende</mat-label>
      <input matInput type="text" name="" placeholder="Mitwirkende" value="" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Bewertungen</mat-label>
      <input
        matInput
        #input
        type="text"
        maxlength="200"
        placeholder="Bewertungen"
        value="" />
      <mat-hint align="end">{{ input.value.length }}/200</mat-hint>
    </mat-form-field>
    <div class="flex-wrapper">
      <mat-form-field>
        <mat-label>Lehrjahr</mat-label>
        <mat-select>
          <mat-option value="1">1. Lehrjahr</mat-option>
          <mat-option value="2">2. Lehrjahr</mat-option>
          <mat-option value="3">3. Lehrjahr</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select>
          <mat-option value="in Ausbildung">in Ausbildung</mat-option>
          <mat-option value="Ausbildung beendet">Ausbildung beendet</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-form-field>
      <mat-label>Stichworte</mat-label>
      <input matInput type="text" placeholder="Stichworte" value="" />
    </mat-form-field>

    <section>
      <mat-checkbox>Prüfstück</mat-checkbox>
    </section>

    <section>
      <div class="btn-row">
        <button mat-raised-button color="primary">Speichern</button>
        <button mat-raised-button>Abbrechen</button>
      </div>
    </section>
  </div>
</form>
