<app-header title="Password Ändern" [showSearch]="false"></app-header>
<div class="content">
  <div class="form">
    <h1>neues Passwort vergeben</h1>

    <form [formGroup]="changePasswordForm">
      <mat-form-field appearance="fill">
        <mat-label>Passwort</mat-label>
        <input
          matInput
          placeholder="Passwort"
          type="password"
          formControlName="password" />
        <mat-error *ngIf="changePasswordForm.controls.password.invalid">{{
          getErrorMessage(changePasswordForm.controls.password)
        }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Passwort erneut eingeben</mat-label>
        <input
          matInput
          placeholder="Passwort erneut eingeben"
          type="password"
          formControlName="confirmPassword" />
        <mat-error
          *ngIf="changePasswordForm.controls.confirmPassword.invalid"
          >{{
            getErrorMessage(changePasswordForm.controls.confirmPassword)
          }}</mat-error
        >
      </mat-form-field>

      <div class="actions">
        <button [routerLink]="['/archive']" mat-raised-button color="warn">
          Abbrechen
        </button>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="changePasswordForm.invalid">
          Speichern
        </button>
      </div>
    </form>
  </div>
</div>
