<app-header title="Password Ändern" [showSearch]="false"></app-header>
<div class="content">
  <div class="form">
    <h1>neues Passwort vergeben</h1>

    <form [formGroup]="changePasswordForm">
      <div class="password">
        <mat-form-field appearance="fill" [color]="passwordComponent.color">
          <mat-label>Passwort</mat-label>
          <mat-pass-toggle-visibility
            #toggle
            matSuffix></mat-pass-toggle-visibility>
          <input
            matInput
            placeholder="Passwort"
            [type]="toggle.type"
            formControlName="password" />
          <mat-hint align="end" aria-live="polite">
            {{ changePasswordForm.controls.password.value.length }} / 25
          </mat-hint>
          <mat-error *ngIf="changePasswordForm.controls.password.invalid">{{
            getErrorMessage(changePasswordForm.controls.password)
          }}</mat-error>
        </mat-form-field>
        <mat-password-strength
          [min]="6"
          [max]="12"
          #passwordComponent
          [password]="changePasswordForm.controls.password.value">
        </mat-password-strength>
        <mat-password-strength-info
          lowerCaseCriteriaMsg="Enthält mindestens einen Kleinbuchstaben"
          upperCaseCriteriaMsg="Enthält mindestens einen Großbuchstaben"
          digitsCriteriaMsg="Enthält mindestens eine Zahl"
          specialCharsCriteriaMsg="Enthält mindestens ein Sonderzeichen"
          minCharsCriteriaMsg="Besteht aus Mindestens 8 Zeichen"
          [passwordComponent]="passwordComponent">
        </mat-password-strength-info>
      </div>

      <div class="actions">
        <button
          type="button"
          [routerLink]="['/archive']"
          mat-raised-button
          color="warn">
          Abbrechen
        </button>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="changePasswordForm.invalid">
          Speichern
        </button>
      </div>
    </form>
  </div>
</div>
