<div class="content">
  <div>
    <div class="image-block">
      <div
        class="image"
        (mouseover)="hover = true"
        (mouseleave)="hover = false"
        (click)="hasMovieFile ? playMovie() : null">
        <img
          [src]="data.Vorschaubild"
          [alt]="'Vorschaubild für den Film:' + data.Filmtitel"
          title="Vorschaubild" />
        <mat-icon (mouseenter)="hover = true" *ngIf="hover" class="play-symbol"
          >play_circle</mat-icon
        >
      </div>
      <span>{{ data.Dauer }}</span>
    </div>
    <div class="movie-info">
      <h1>{{ data.Filmtitel }}</h1>
      <p class="row" [matTooltip]="data['Erzählsatz']">
        <span>Beschreibung: </span><span>{{ data['Erzählsatz'] }}</span>
      </p>
      <p class="row">
        <span>Erscheinungsdatum: </span
        ><span>{{ data.Erscheinungsdatum | date : 'mediumDate' }}</span>
      </p>
      <p class="row">
        <span>Autor: </span><span>{{ data.Autor }}</span>
      </p>
      <p class="row" [matTooltip]="data.Mitwirkende">
        <span>Mitwirkende: </span><span>{{ data.Mitwirkende }}</span>
      </p>
      <p class="row">
        <span>Klasse: </span><span>{{ data.Klasse }}</span>
      </p>
      <p class="row" [matTooltip]="data.Stichworte">
        <span>Stichworte: </span><span>{{ data.Stichworte }}</span>
      </p>
    </div>
    <div class="close">
      <mat-icon (click)="dialogRef.close()">close</mat-icon>
    </div>
  </div>
  <div>
    <button
      type="button"
      (click)="moreInfo()"
      mat-raised-button
      color="primary">
      Mehr Infos anzeigen
    </button>
    <!-- <button
      type="button"
      mat-raised-button
      color="primary"
      (click)="download()">
      Downloaden
    </button> -->
    <ng-container *ngIf="hasMovieFile; else noMovieFile"></ng-container>
    <button
      type="button"
      mat-raised-button
      color="primary"
      (click)="playMovie()">
      Film abspielen
    </button>
    <ng-container *ngIf="hasSoundFile; else noSoundFile">
      <button
        type="button"
        mat-raised-button
        color="primary"
        (click)="playSound()">
        Sound abspielen
      </button>
    </ng-container>
    <button type="button" (click)="edit()" mat-raised-button color="primary">
      Editieren
    </button>
  </div>
</div>

<ng-template #noMovieFile>
  <button
    type="button"
    mat-raised-button
    color="primary"
    disabled
    matTooltip="Keine Filmdatei vorhanden.">
    Film abspielen
  </button>
</ng-template>

<ng-template #noSoundFile>
  <button
    type="button"
    mat-raised-button
    color="primary"
    disabled
    matTooltip="Keine Sounddatei vorhanden.">
    Sound abspielen
  </button>
</ng-template>
