<form
  [formGroup]="resetForm"
  (ngSubmit)="sendMail.emit(resetForm.controls.email.value)">
  <h1 class="title"><b>Password Zurücksetzen</b></h1>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input
      matInput
      placeholder="Geben sie ihre Email ein."
      type="email"
      formControlName="email" />
    <mat-error *ngIf="resetForm.controls.email.invalid">{{
      getErrorMessage(resetForm.controls.email)
    }}</mat-error>
  </mat-form-field>
  <div class="action-buttons">
    <button
      type="button"
      color="accent"
      mat-raised-button
      [disabled]="loading"
      (click)="back.emit('Login')">
      Zurück
    </button>
    <button
      type="submit"
      color="primary"
      [class.spinner]="loading"
      [disabled]="resetForm.invalid || loading"
      mat-raised-button>
      Zurücksetzen
    </button>
  </div>
</form>
