<app-header title="Filmarchiv" (search)="search($event)"></app-header>
<div class="content">
  <app-movie-list
    [movieList]="sanitizedMovieList$ | async"
    (openMovie)="openMovie($event)"></app-movie-list>
  <mat-paginator
    *ngIf="dataSource.page$ | async as page"
    color="accent"
    [length]="page.totalElements"
    [pageSize]="page.size"
    [pageIndex]="page.number"
    [pageSizeOptions]="[5, 10, 25, 50]"
    [showFirstLastButtons]="true"
    (page)="dataSource.fetch($event)">
  </mat-paginator>
</div>
